.env
*.sqlite3
__pycache__/
*.pyc
venv/
.vscode/           # VS Code project settings
.idea/             # PyCharm project settings
*.log              # Log files
# ignore the virtual‑env
venv/
sonadi-backend/venv/
.env