{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activities | Sonadi</title>
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'navbar.html' %}

    <main>
      <div class="page-heading">
        <img
          src="{% static 'img/sonadi-logo.jpg' %}"
          alt="Sonadi Charitable Trust Logo"
          class="logo-img"
        />
        <div class="page-heading-text">
          <h2>Our Activities</h2>
          <h3>Making a Difference Every Day</h3>
        </div>
      </div>
      <section>
        <div class="activity-card">
          <h3>Animal Birth Control</h3>
          <p>
            The Animal Birth Control Program is the most effective solution for
            reducing conflicts between humans and animals, managing the
            population of street dogs, and eliminating rabies. We have a
            specialized and well-equipped ABC unit at Nangli, Najafgarh to
            perform sterilization surgeries on dogs and cats. After the
            surgeries, the animals are provided with special post-surgery
            kennels for their complete recovery, along with necessary
            medication.
          </p>
        </div>
      </section>

      <section>
        <div class="activity-card">
          <h3>Animal Rescue</h3>
          <p>
            Sonadi is well equipped with a medical ambulance facility that picks
            up animals from the streets that need immediate medical attention.
            Apart from the ambulance, we also accept individual rescuers who
            bring ill, injured, and abandoned animals directly to the shelter
            and provide further assistance to them as per their needs.
            Procedures such as amputations, treatment of hematoma, maggot
            wounds, and care for paralyzed dogs are carried out under the
            guidance of experts.
          </p>
        </div>
      </section>

      <section>
        <div class="activity-card">
          <h3>Animal Ambulance Service</h3>
          <p>
            Sonadi operates a dedicated animal ambulance service to rescue and
            transport injured or sick animals in need of immediate medical care.
            This service is available to the community, ensuring that help is
            just a call away. For assistance, you can reach us at +91
            9212797696.
          </p>
        </div>
      </section>

      <section>
        <div class="activity-card">
          <h3>Anti-Rabies Vaccination Drive</h3>
          <p>
            For the past 16 years, Sonadi, in collaboration with Canis Welfare
            Pet Club, Indian Veterinary Organization, Delhi Municipal
            Corporation (DMC), and other organizations, has been running free
            doorstep anti-rabies vaccination facilities for street dogs and cats
            to protect them from rabies.
          </p>
        </div>
      </section>

      <section>
        <div class="activity-card">
          <h3>Animal Rehabilitation</h3>
          <p>
            After completing treatment and making a full recovery, the community
            animals are returned to the locations where they were picked. Every
            effort is made to find new homes for abandoned dogs and cats.
            Follow-up checks are conducted with a strict protocol to ensure that
            the animals have a good quality of life.
          </p>
        </div>
      </section>

      <section>
        <div class="activity-card">
          <h3>Adoptions and Releases</h3>
          <p>
            After completing treatment and recovery, the community animals are
            returned to the places from where they were picked. We make every
            effort to find new homes for abandoned dogs and cats. Follow-up
            checks with strict protocols are followed to ensure a good life for
            the animal.
          </p>
        </div>
      </section>

      <section>
        <div class="activity-card">
          <h3>Community Education and Awareness</h3>
          <p>
            At the heart of every welfare activity lies education and awareness.
            We encourage people to take responsibility for the dogs in their
            area, get them treated, vaccinated, and sterilized. We also advise
            feeding the strays at a fixed place to reduce dog bite cases. We
            encourage people to develop love and compassion towards animals,
            counsel them for their adoptions, and guide them on how to help
            animals in need.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <p>Sonadi Charitable Trust</p>
      <a
        href="https://maps.app.goo.gl/Sa318vMGxYiHeN6q6"
        target="_blank"
        rel="noopener noreferrer"
      >
        Masudabad, Near Sai Baba Mandir, Najafgarh, Delhi - 110043 </a
      ><br />
      <p>Phone: +91 9212797696</p>
      <p>Email: info@sonadicharitabletrust.com</p>
      <p>
        Follow us on:
        <a
          href="https://www.facebook.com/SonadiCharitableTrust/"
          target="_blank"
          >Facebook</a
        >
        |
        <a
          href="https://www.instagram.com/sonadicharitabletrust/"
          target="_blank"
          >Instagram</a
        >
      </p>
    </footer>
  </body>
</html>
