<footer>
  <p>Sonadi Charitable Trust</p>
  <a
    href="https://maps.app.goo.gl/Sa318vMGxYiHeN6q6"
    target="_blank"
    rel="noopener noreferrer"
  >
    Masudabad, Near Sai Baba Mandir, Najafgarh, Delhi - 110043 </a
  ><br />
  <p>Phone: +91 9212797696</p>
  <p>Email: info@sonadicharitabletrust.com</p>
  <p>
    Follow us on:
    <a href="https://www.facebook.com/SonadiCharitableTrust/" target="_blank"
      >Facebook</a
    >
    |
    <a href="https://www.instagram.com/sonadicharitabletrust/" target="_blank"
      >Instagram</a
    >
  </p>
</footer>
